<p id="notice"><%= notice %></p>

<h1>Lists</h1>
<%= link_to 'New List', new_board_list_path %>
<% @lists.each do |list| %
        <td><%= list.name %></td>
        <td><%= list.position %></td>
  <% end %>
<hr/> 
<%= tag.div id: :boards, data: { lists: @lists.to_json(include: :cards) } %>


