<div class = "header-title containfeature"> 
 <h2> Recently view</h2>
</div>
<div class = "header-title containfeature"> 
 <h2> Personal Project</h2>
</div>
  <div class="containfeature">
    <% @boards.each do |board| %>
      <div class ="box">
        <div class="dropdown" style="text-align: right;">
          <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            :::
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <center><strong>Action</strong></center>
            <div class="dropdown-divider "></div>
            <%= link_to 'Add New board',new_board_path, class: "dropdown-item" %>
            <%= link_to 'Edit', edit_board_path(board), class: "dropdown-item" %>
            <%= link_to 'Delete', board, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>
          </div>
        </div>
        <div class="text">
          <%= board.title %>
        </div>
      </div>  
    <% end %>
    <div class ="box">
      <h1 style="margin:34%; font-size: 98px;"><%= link_to '+',new_board_path %></h1>
    </div>
  </div>
 <div class = "header-title containfeature"> 
 <h2> Team Project </h2>
 </div>
 <div class="containfeature">
  <div class ="box">
  <div class="box-sub">

  </div>
  </div>
   <div class ="box">
  <div class="box-sub">

  </div>
  </div>
   <div class ="box">
  <div class="box-sub">

  </div>
  </div>
   <div class ="box">
  <div class="box-sub">

  </div>
  </div>
   <div class ="box">
  <div class="box-sub">

  </div>
  </div>
   <div class ="box">
  <div class="box-sub">

  </div>
  </div>

  </div>




