<%= form_with(model: board, local: true) do |form| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
        <% board.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group ">
    <%= form.label :title%>
    <%= form.text_field :title, class:'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :description  %>
    <%= form.text_area :description,class:'form-control'  %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :user_id, :value => current_user.id %>
   
  </div>

  <div class="button">
    <%= form.submit class:'btn button4'  %>
       <%= link_to 'Back', boards_path, class:'btn button1 btn-danger'  %> 
 

  </div>

<% end %>
