<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :tipe %>
    <%= form.text_field :tipe, class:'form-control', class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :user_id, :value => current_user.username, class:'form-control' %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="form-group">
    <%= form.label :board_id %>
    <%= form.number_field :board_id, :value => @board, class:'form-control' %>
  </div>

  <div class="form-group ">
    <%= form.label :status%>
    <%= form.number_field :status, class:'form-control'  %>
  </div>

  <div class="button">
    <%= form.submit class:'btn button4' %>
   <%= link_to 'Back', cards_path, class:'btn button1   '%> 
  </div>
  
<% end %>
<br>