<div class="wrapper">
<p id="notice"><%= notice %></p>
<%= link_to 'New Card', new_card_path, class:'btn button2 ' %>
<hr size="4px">
<h1 class="tb-custom">Cards</h1>
<div class="table-responsive">
<table class="table table-bordered table-striped-orange   center  table-hover table-custom-hover">
  <thead>
    <tr>
      <th class="tb-custom th-custom">Id Card</th>
      <th class="tb-custom th-custom">Title</th>
      <th class="tb-custom th-custom">Content</th>
      <th class="tb-custom th-custom">Tipe</th>
      <th class="tb-custom th-custom">User</th>
      <th class="tb-custom th-custom">Board</th>
      <th class="tb-custom th-custom">Status</th>
      <th colspan="3" class="tb-custom th-custom">Aksi</th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td class="tb-custom"><%= card.id %></td>
        <td class="tb-custom"><%= card.title %></td>
        <td class="tb-custom"><%=  card.content %></td>
        <td class="tb-custom"><%= card.tipe %></td>
        <td class="tb-custom"><%= card.user.username %></td>
        <td class="tb-custom"><%= card.board_id %></td>
        <td class="tb-custom"><%= card.status %></td>
        <td class="tb-custom a"><%= link_to 'Show', card %></td>
        <td class="tb-custom a"><%= link_to 'Edit', edit_card_path(card) %></td>
        <td class="tb-custom a"><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
</div>
