<p id="notice"><%= notice %></p>
<div class="wrapper-show font-show">
<h3 align="center">Info Card</h3>
<p>
  <h6 class="form-group">Title</h6><div class="form-control">
  <%= @card.title %></div>
</p>

<p>
  <h6 class="form-group">Content</h6><div class="form-control">
  <%= @card.content %></div>
</p>

<p>
  <h6 class="form-group">Tipe</h6><div class="form-control">
  <%= @card.tipe %></div>
</p>

<p>
  <h6 class="form-group">User</h6><div class="form-control">
  <%= @card.user.username %></div>
</p>

<p>
   <h6 class="form-group">Board</h6><div class="form-control">
  <%= @card.board.title %></div>
</p>

<p>
  <h6 class="form-group">Status:</h6><div class="form-control">
  <%= @card.status %></div>
</p>

<%= link_to 'Edit', edit_card_path(@card),class:'btn button5' %>  
<%= link_to 'Back', cards_path,class:'btn button1'  %>
 
</div>
<br/>