<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @card.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @card.content %>
</p>

<p>
  <strong>Tipe:</strong>
  <%= @card.tipe %>
</p>

<p>
  <strong>User:</strong>
  <%= @card.user_id %>
</p>

<p>
  <strong>Board:</strong>
  <%= @card.board_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @card.status %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
