<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mynav">
  <div  id="sidebarCollapse" >
   	<i class="fa fa-align-justify"></i> 
  </div>
		   
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto" style="margin:0 18px;">
      <li>
      <%= form_tag boards_path, class: "container form-inline fixed top", style:"text-align: center;", :method => 'get' do %>
          <div align="container flex-end">  <%= text_field_tag :search, params[:search], class: 'form-control',type:"search", size: '100px', style: "margin:0px; min-width:160px; width:65%;", placeholder:"Search" %>
            <button class="btn btn-outline-success my-2 my-sm-0 " type="submit_tag"><i class="fa fa-search"></i></button>
          </div> 
      <% end %>
      </li>
      <li class="nav-item active" style= "padding: ">
      
        <a class="nav-link" href="#"><i class="fa fa-bell"></i> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <div class="dropdown dropleft">
          <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag user_avatar(current_user, 32), class: "rounded-circle" %>
          </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to('Logout', destroy_user_session_path,:method =>:delete, class:'dropdown-item') %>
            </div>
      </ul>
