<!DOCTYPE html>
<html>
  <head>
    <%= render 'structure/head' %>
  </head>
  <body>
    <% if !user_signed_in? %>
      <div class="row">
        <%= render 'structure/notif'  %>
      </div>
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <%= yield %>
            </div>
          </div>
        </div>
      </div> 
    <% else %>
      <%= render 'structure/sidebar'%>
      <div class="wrapper">
          <div class="container-fluid" id="contain">
          <%= render 'structure/notif'  %>
            <%= yield %>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>