<!DOCTYPE html>
<html>
  <head>
    <title>ProjectM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<<<<<<< HEAD

=======
 
>>>>>>> 1b8c86b0e0db9261832e6ba2376a1c1f955fbe19
       <div class="container-fluid">
       <%= yield %>
    </div>
    
  </body>
</html>
